@import "../../shared/variables";

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

mat-toolbar-row {
  background-color: $primary;
}

span {
  flex-grow: 1;
  text-align: center;
  cursor: default;
}
