$border-color: #ebebeb;
$task-brief-width: 350px;

.content {
  height: 88vh;
  display: grid;
  grid-template-columns: $task-brief-width auto;
  grid-template-rows: 70px auto;
  grid-template-areas: "options options"
                       "brief details";
  grid-column-gap: 10px;
}

.content__options {
  grid-area: options;
  display: flex;
}

.content__add-button {
  display: block;
  $size: 64px;
  font-size: 3.5em;
  text-align: center;
  line-height: $size;
  height: $size;
  width: $size;
  cursor: pointer;
}

.content__tasks-brief {
  grid-area: brief;
  overflow-y: auto;
  overflow-x: hidden;
  justify-self: center;
}

.content__task-details {
  grid-area: details;
  align-self: start;
  justify-self: stretch;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .content {
    grid-template-columns: 98%;
  }
  .content__task-details {
    display: none;
  }
}

